Details User: <%=data.rows.user %>
    <table class="table table-hover">
        <tbody>
                <tr>
                  <th scope="col">username</th>
                  <td><%=data.rows.username %></td>
                </tr>
                <tr>
                    <th scope="col">Fullname</th>
                    <td><%=data.rows.fullname %></td>
                </tr>
                <tr>
                    <th scope="col">address</th>
                    <td><%=data.rows.address %></td>
                </tr>
                <tr>
                    <th scope="col">sex</th>
                    <td><%=data.rows.sex %></td>
                </tr>
                <tr>
                    <th scope="col">email</th>
                    <td><%=data.rows.email %></td>
                </tr>
                <tr>
                    <th scope="col">groupid</th>
                    <td><%=data.rows.groupid %></td>
                </tr>
        </tbody>
    </table>